<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.theone.pay"
    android:installLocation="internalOnly"
    >
    <!--请求网络权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--读写存储卡权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--不清楚这个是什么权限-->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <!--开机启动-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!--读取手机状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
       >
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="黑米支付，X框架版" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />

        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MovieList"
            android:screenOrientation="portrait" />

        <service
            android:name = "com.theone.pay.notify.ReceiveNotifyService"
            android:permission = "android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter >
                <action android:name = "android.accessibilityservice.AccessibilityService" />
            </intent-filter >
        </service >

        <service android:name="com.theone.pay.notify.MyNotificationListenerService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <service android:name="com.theone.pay.notify.MyNotificationListenerService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <service
            android:name="com.theone.pay.service.MyService"
            android:exported="true"
            android:enabled="true"
            >
            <!-- 为防止Service被系统回收，可以通过提高优先级解决，1000是最高优先级，数字越小，优先级越低 -->
            <intent-filter android:priority="1000">
                <action android:name="com.theone.pay.service.MyService" />
            </intent-filter>
        </service>

        <receiver android:name="com.theone.pay.receiver.MyReceiver" >
            <intent-filter>
                <!--手机开机广播-->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!--用户解锁广播-->
                <action android:name="android.intent.action.USER_PRESENT" />
                <!--每分钟执行一次的广播,这个广播静态注册无效哦，晕死-->
                <action android:name="android.intent.action.TIME_TICK" />
                <!--自定义广播,服务被销毁的广播-->
                <action android:name="com.theone.pay.service.destroy" />
            </intent-filter>
        </receiver>

    </application>

</manifest>